<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quiz">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz"
        tools:targetApi="31">

        <!-- 🔹 Стартовая активность (запускается первой) -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🔹 Активность ввода имени (перед викториной) -->
        <activity
            android:name=".NameInputActivity"
            android:exported="true" />

        <!-- 🔹 Активность выбора темы викторины -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- 🔹 Активность выбора уровня сложности викторины -->
        <activity
            android:name=".DifficultySelectionActivity"
            android:exported="true" />

        <!-- 🔹 Викторина -->
        <activity
            android:name=".QuizActivity"
            android:exported="true" />

        <!-- 🔹 Результаты викторины -->
        <activity
            android:name=".QuizResults"
            android:exported="true" />

        <!-- 🔹 Меню -->
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- 🔹 Активность с правильными ответами -->
        <activity
            android:name=".CorrectAnswersActivity"
            android:exported="true" />

        <!-- 🔹 Экран с просмотром правильных и выбранных ответов -->
        <activity
            android:name=".AnswersReviewActivity"
            android:exported="true" />

        <!-- 🔹 Таблица лидеров -->
        <activity
            android:name=".LeaderboardActivity"
            android:exported="true" />

    </application>
</manifest>
